@import "~bootstrap/scss/bootstrap";

.name {
    background: rgba(174, 192, 202, 0.3);
    border-radius: 20px;
    margin: 70px;
    padding-top: 5px;
    padding-bottom: 88px;
    padding-left: 7.5rem;
}

.navbar-brand-2 {
    background: linear-gradient(0deg, #f00 25%, #ffb300 60%);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}
.roommate {
    background: linear-gradient(0deg, rgb(0, 255, 229) 25%, #00abff 60%);
}


.navbar-brand-2:hover {

    position: relative;
    background: rgba(101, 148, 210, 0.3);
    border-radius: 60% 40% 40% 20%;
}

.hover-overlay:hover {
    background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 10px 10px 5px 5px #5489a8;
}

.bg-transparent:hover {
    position: relative;

    background: rgba(101, 148, 210, 0.3);
    border-radius: 60% 40% 40% 20%;
}

.bg-transparent {
    border: none;
}

.button {

    color: #0000;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}

.zoom {
    padding: 0px;

    transition: transform .5s;
    /* Animation */
    background: rgba(28, 197, 104, 0.3);
    margin: 0 auto;
}

.zoom:hover {
    background: rgba(101, 148, 210, 0.3);
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.popup {
    
    
    margin-left: -8px;
    font-weight:bold;
    color:#15e760;
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.popup2 {
    position: absolute;
    top: 60%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 620px;
    height: 350px;
    opacity: 0;
    animation: popup .2s 2s ease forwards;
}
.mb-3 {
    animation: popup .2s 2s ease forwards;
}